body {
    background-color: white;
    color: rgb(161, 159, 159);
    line-height: 140%;
    font-size: 1.1em;
    text-align: justify;
    font-family: 'Arial', sans-serif;
    }
header
{
    width:100%;
    position: relative;
}

.header-img{
    width: 100%;
    height: 500px;
    background: url(header_Background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(40%);
}
nav{
    float: left;
    position: absolute;
    top: 0;
    right: 100px;
}
    
nav ul {
    list-style: none;
    margin: 8px;
    padding: 0;
}
nav li {
    display: inline-block;
    padding: 0 20px;
}
.logo{
    position: absolute;
    top: 145px;
    left: 41%;
}
a:link {
    color:white;
    text-decoration:none;
}
a:visited
{
    color:white;
    text-decoration: none;
}
#containerWho {
    margin-left: 460px;
    margin-right: 460px;
}

#containerTeam {
    margin-left: 460px;
    margin-right: 460px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    color: black;
    font-size: 2.5em;
    border-bottom: 3px solid #c52323;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.underlineH1 {
    display: inline-block;

}

img {
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}

#containerTeam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#containerTeam > h1 {
    text-align: right;
}

span.clear { clear: left; display: block; }
